/*********** 选中试题分类 **********/
li:nth-child(2) {
    color: white;
    background-color: #3c4c5f;
    border-bottom: 3px solid #e45600;
}

/*********** 表格区域 **********/
#table_area {
    width: 80%;
    margin: 30px auto;
    border: 1px solid #eee;
    background-color: white;
}

table {
    margin-top: 30px;
}

table tr:first-child {
    background-color: #eee;
}

table td {
    width: 100px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #eee;
}

form {
    margin: 8px auto;
}

.enter_btn {
    cursor: pointer;
    outline: none;
    color: #409eff;
    border-radius: 15px;
    background-color: #ecf5ff;
    border: 1px solid #b3d8ff;
}

.enter_btn:hover{
    color: white;
    background-color: #409eff;
}